con=jdbc:mysql://localhost:3306/tareas_db
user=root
pass=
scriptCreateTable=C:/Users/drago/eclipse-workspaces/eclipse-workspace-acceso-a-datos/Acceso_de_Datos/Database/ScriptsSql/CreateTableTarea.sql
scriptInsertValues=C:/Users/drago/eclipse-workspaces/eclipse-workspace-acceso-a-datos/Acceso_de_Datos/Database/ScriptsSql/InsertValuesTableTarea.sql